doctype html
html
    head
        title Blogs
        meta(http-equiv="Content-Type",content="text/html;charset=UTF-8")
        link(href='/cube/cube-min.css')
        link(href='/cube/type-min.css')
        script(src='/javascripts/angular.min.js')
    body(ng-app='')
        div.center-box
          h1 Blogs

