doctype html
html
    head
        title 请使用高级浏览器！
        meta(http-equiv="Content-Type",content="text/html;charset=UTF-8")
        style body{background:#fff;text-align:center} .title{text-align:center;margin:50px  0 50px 0 ;}
            | .title p{font-size:12px;line-height: 20px;color:#757575;}
            |.browser{width:660px;margin:0 auto;text-align: center} .browser a{position:relative;width:306px;padding:10px;height:200px;color:#0079FF;border:1px solid #f1f1f1;float:left;text-decoration:none;}
            |.browser h3{font-size:24px;} .download{display:none;width:120px;position: absolute;bottom:50px;left:93px;}
            |.browser a:hover,.browser a:focus{border-color:#c40;color:#c40} p.desc{margin:0 auto;font-size:14px;color:#656565;line-height:20px;}
            |.browser a:hover .download,.browser a:focus .download{display: block;color:#0079FF;}
    body
        div
            h2.title 请使用更先进的浏览器！^_^
                p 为了你的浏览体验，请使用更先进的浏览器浏览本页面！
            div.browser
                a(href='https://www.google.com/intl/zh-CN/chrome/browser/?hl=zh-CN',target="_blank")
                    h3 谷歌浏览器
                    p.desc Google Chrome 浏览器在简约的外观设计下,蕴含了尖端的技术,让网络浏览变得更快捷、更安全且更简便。
                    span.download 点击下载
                a(href='http://firefox.com.cn/download/',target="_blank")
                    h3 火狐浏览器
                    p.desc Mozilla Firefox，中文名通常称为“火狐”或“火狐浏览器” ,拥有最快、最安全的上网体验!
                    span.download 点击下载
                a(href='http://www.apple.com.cn/safari',target="_blank")
                    h3 safari浏览器
                    p.desc Apple Safari ,无论在 Mac、PC 或 iPod touch 上运行,都可提供极致愉悦的网络体验方式!
                    span.download 点击下载
                a(href='http://windows.microsoft.com/zh-cn/internet-explorer/downloads/ie-10/worldwide-languages',target="_blank")
                    h3 IE10浏览器
                    p.desc IE10 , 相比较旧版IE浏览器，IE10 全面改进了性能，提供了更快速的页面加载和交互，兼容性更好！
                    span.download 点击下载


