doctype html
html
    head
        title APIS
        meta(http-equiv="Content-Type",content="text/html;charset=UTF-8")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/animate.css')
        style li{list-style:none;text-align:left;line-height:24px;padding:5px 0;}p{text-align:left;text-indent:2em;}
    body
        div#main
            div.main
                h2 APIlist
                ul
                    li
                        p showtime 当前时间
                        h3 /api/showtime
                    li
                        p showNextTime 下一分钟
                        h3 /api/showNextTime



