doctype html
html
    head
        title Todo
        meta(http-equiv="Content-Type",content="text/html;charset=UTF-8")
        style body{width: 1100px;margin: 0 auto;}.todo-iframe{width:550px;border:none;height:1000px;}
    body
        h1 Todos

        hr
        iframe(src='/static/todo.html',class='todo-iframe')
        iframe(src='/static/todo2.html',class='todo-iframe')
