doctype html
html
    head
        title Todo
        meta(http-equiv="Content-Type",content="text/html;charset=UTF-8")
        link(rel='stylesheet', href='/stylesheets/todo.css')
        script(src='/javascripts/angular.min.js')
        script(src='/javascripts/todo.js')
    body(ng-app='todos')
        h1 Todos
            small &nbsp;By angularjs
        hr
        div(ng-controller="todo")
            div#todoapp
                p
                    input(type="text",id="new-todo",placeholder="What needs to be done?",ng-model="new")
                    input(type="button",id="new-add",ng-click='add()',value="+")
                    span(ng-hide='{{errshow}}') 请填写任务!
                    span(ng-hide='{{succshow}}') 增加成功！
                ul#todo-list
                    li.item(ng-repeat="todo in todos")
                        {{todo}}
                        input(type="submit",class="destroy",ng-click="remove($index)",value="移除")
                footer(style='display:block')
                    div.todo-count
                        b{{todos.length}} items left