doctype html
html
    head
        title work
        meta(http-equiv="Content-Type",content="text/html;charset=UTF-8")
        script(src='/javascripts/angular.min.js')
    body(ng-app='')
        h1 work
